---
---

@import "{{ site.theme }}";

.center-text {
    text-align: center;
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #12ae5d;
  color: white;
  border-radius: 5px;
}